.box{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 75px;
}
.leftbar{
    width: 20%;
}
.rightbar{
    width: 22%;
}
.mid{
    width: 55%;
}
.leftbar1{
    width: 3%;
}
.rightbar1{
    width: 0%;
}
.mid1{
    width: 60%;
}