.navbar{
    height:50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    z-index: 999;
    background-color: white;
}
.nav-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: auto;
    height: inherit;
    justify-content: space-between;
}