@import url('./css/Navbar.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 75%;
  margin-left: auto;
  padding-top: 19px;
  margin-top: 48px;
  min-height: 94.5vh;
  ;
}


.leftbar {
  width: 15%;
  height: 94.5vh;
  overflow-y: auto;
  border-right: 1px solid #dbdbdb;
  position: fixed;
  top: 52px;
}

.box {
  display: flex;
  flex-direction: row;
}

h3 {
  font-size: 21px;
  font-weight: bolder;
  margin-top: 25px;
}

p {
  font-size: 14.5px;
}

h1 {
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 20px;
}

.leftbar-tags {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
  margin-top: 16px;
  margin-left: 11px;
  color: gray;
}

.home {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 75px;
  color: #2a353e;
  height: 85vh
}

a {
  text-decoration: none;
  color: inherit;
}

.main-btn,
.second-btn {
  color: gray;
  border: 1px solid gray;
  padding: 10px 69px;
  border-radius: 5px;
  margin: 19px;
}

.main-btn {
  border: 1px solid #0676a2;
  color: #0676a2;
}

.footer {
  background-color: #303846;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 12px 0;
  z-index: 99999;
  position: relative;
}

.left-align {
  text-align: left;
}

.same-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.same-col {
  display: flex;
  flex-direction: column;
  margin-right: 39px;
  width: 30%;
}

li {
  margin-left: 25px;
  font-size: 14.5px;
}

.stepper {
  margin-left: -25px;
}

.gray-col {
  color: #525354;
  font-size: 13px;
}

.blue {
  color: #0676a2;
}

.danger {
  color: #d00303;
}

.same-line-gap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}