@import url('./css/App.css');
@import url('./css/Navbar.css');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 19px;
  font-weight: 400;
}

.white {
  color: white;
}

.bold {
  font-weight: 500;
}

.txtdecnone {
  text-decoration: none;
}

.mx-2 {
  margin-right: 12px;
  margin-left: 12px;
}

.mx-5 {
  margin-right: 20px;
  margin-left: 20px;
}

.smtxt{
  font-size: 13px;
}

.display-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.smtxt1{
  font-size: 15px;
  font-weight: 400;
}